.userlist{
    flex: 4;
}
.userlist_user{
    display: flex;
    align-items: center;
}
.userlist_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.userlist_btn{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    margin-right: 20px;
}
.userlist_btn_dlt{
    width:5 0px !important;
    color: red;
    cursor: pointer;
}